In [11]:
import numpy as np
import pandas as pd
df = pd.DataFrame({"name":["张三","李四","王五","小明"],
                   "sex":["female","male","male","female"],
                   "year":[2000,2002,2001,2003],
                   "city":["北京","西安","长沙","广州"]})# ,index=["学生1","学生2","学生3","学生4"]
# display(df)
df1 = df.set_index(['city','sex'])
df1 = df.reset_index()  
print(df1)
# print(df.iloc[:3,2])
# print(df.loc[:'学生3',['name','year']])
# display(df.query('year>2002'))
df = df._append({'name':'刘六','sex':"female","year":2005,'city':'上海'},ignore_index=True)
# display(df)
df.insert(1,'no',["001","002","003","004","005"])
df['score'] = np.nan
df = df.set_index('city')
# df.drop('广州',inplace=True)
# df.drop('year',axis=1,inplace=True)
df.rename(columns={'no':"number"},inplace=True)
# df['score']=df['score'].bfill()
df['score']=df['score'].fillna(2)
display(df)

   index name     sex  year city
0      0   张三  female  2000   北京
1      1   李四    male  2002   西安
2      2   王五    male  2001   长沙
3      3   小明  female  2003   广州

     name number     sex  year  score
city
北京     张三    001  female  2000    2.0
西安     李四    002    male  2002    2.0
长沙     王五    003    male  2001    2.0
广州     小明    004  female  2003    2.0
上海     刘六    005  female  2005    2.0

In [ ]:
def f(x:str):
    return x.split('ale')[0]
df['sex']=df['sex'].map(f)
display(df)

In [ ]:
df1 = pd.DataFrame(np.random.random((3,3)),columns=list('abc'),index=['app',"win","mac"])
display(df1)
print(df1.apply(np.mean,axis=0))
print(df1.apply(np.mean,axis=1))
print(df1.applymap(lambda x: '%.3f'%x))

In [ ]:
ser = pd.Series([1,-2,4,-4],index=['c','b','a','d'])
print(ser)
print(ser.sort_index(ascending=True))

In [ ]:
df = pd.DataFrame({'key1':['a','a','b','b','a'],
                   'key2':['yes','no','yes','yes','no'],
                   'data1':np.random.randn(5),
                   'data2':np.random.randn(5),})
grouped = df['data1'].groupby(by=df['key1'])
display(df)
print(grouped.size())
print(grouped.mean())

In [ ]:
df = pd.DataFrame({
                   'key2':['yes','no','yes','yes','no'],
                   'data1':np.random.randn(5),
                   'data2':np.random.randn(5),})
groupk1 = df.groupby('key2').mean()
groupk2 = df.groupby('key2').count()
print(groupk1)
print(groupk2)

In [ ]:
def judge(x):
    if x >= 0:
        return 'a'
    else:
        return 'b'

df = pd.DataFrame(np.random.randn(4,4))
print(df)
print(df[3].groupby(
        df[3].map(judge)).sum()
    )