In [25]:
import pandas as pd
price = pd.DataFrame({'fruit': ['apple','grape', 'orange', 'orange'],'price':[8,7,9,11]})
amount = pd.DataFrame({'fruit':['apple','grape','orange','pear'],'amount':[5,11,8,9]})
display(price,amount,pd.merge(left=price,right=amount,how='outer',left_on='fruit',right_on='fruit'))# outer：外连接//并集，left：左连接//保留左表的所有行，右表中未匹配的行用 NaN 填充

    fruit  price
0   apple      8
1   grape      7
2  orange      9
3  orange     11

    fruit  amount
0   apple       5
1   grape      11
2  orange       8
3    pear       9

    fruit  price  amount
0   apple    8.0       5
1   grape    7.0      11
2  orange    9.0       8
3  orange   11.0       8
4    pear    NaN       9