In [4]:
import numpy as np
import pandas as pd
price = pd.DataFrame({'fruit': ['apple','grape', 'orange', 'orange'],'price':[8,7,9,11]})
amount = pd.DataFrame({'fruit':['apple','grape','orange','pear'],'amount':[5,11,8,9]})
display(price,amount,pd.merge(left=price,right=amount,how='outer',left_on='fruit',right_on='fruit'))# outer：外连接//并集，left：左连接//保留左表的所有行，右表中未匹配的行用 NaN 填充

    fruit  price
0   apple      8
1   grape      7
2  orange      9
3  orange     11

    fruit  amount
0   apple       5
1   grape      11
2  orange       8
3    pear       9

    fruit  price  amount
0   apple    8.0       5
1   grape    7.0      11
2  orange    9.0       8
3  orange   11.0       8
4    pear    NaN       9

In [11]:
# isnull检测缺失值
string_data = pd.Series(['aardvark','artichoke',np.nan,'avocado',np.nan])
print(string_data)
print(string_data.isnull())
print(f"缺失值有：{string_data.isnull().sum()}个")

0     aardvark
1    artichoke
2          NaN
3      avocado
4          NaN
dtype: object
0    False
1    False
2     True
3    False
4     True
dtype: bool
缺失值有：2个

In [35]:
df = pd.DataFrame(np.arange(12).reshape(3,4),columns=['A','B','C','D'])
df.iloc[2,:] = np.nan
df[3]=np.nan
# df.iloc[2,4]=1
print(df)
# print(df.isnull().sum())
# print("############################")
# df.info()
# df.dropna(how='any',subset=['A','C'])
# df.dropna(how='all')

     A    B    C    D   3
0  0.0  1.0  2.0  3.0 NaN
1  4.0  5.0  6.0  7.0 NaN
2  NaN  NaN  NaN  NaN NaN

In [50]:
# df.fillna({'A':1,'B':2,'C':3,'D':4,3:5})
# df.fillna(method='ffill')
df.replace(4,'四')
print(df)

     A    B    C    D   3
0  0.0  1.0  2.0  3.0 NaN
1    四  5.0  6.0  7.0 NaN
2    四  5.0  6.0  7.0 NaN