In [22]:
import numpy as np
import pandas as pd
df = pd.DataFrame({"name":["张三","李四","王五","小明"],
                   "sex":["female","male","male","female"],
                   "year":[2000,2002,2001,2003],
                   "city":["北京","西安","长沙","广州"]})# ,index=["学生1","学生2","学生3","学生4"]
# display(df)
# df1 = df.set_index('city')
# print(df.iloc[:3,2])
# print(df.loc[:'学生3',['name','year']])
# display(df.query('year>2002'))
df = df._append({'name':'刘六','sex':"female","year":2005,'city':'上海'},ignore_index=True)
# display(df)
df.insert(1,'no',["001","002","003","004","005"])
df['score'] = np.nan
df = df.set_index('city')
# df.drop('广州',inplace=True)
# df.drop('year',axis=1,inplace=True)
df.rename(columns={'no':"number"},inplace=True)
# df['score']=df['score'].bfill()
df['score']=df['score'].fillna(2)

display(df)

     name number     sex  year  score
city
北京     张三    001  female  2000    2.0
西安     李四    002    male  2002    2.0
长沙     王五    003    male  2001    2.0
广州     小明    004  female  2003    2.0
上海     刘六    005  female  2005    2.0

In [20]:
def f(x:str):
    return x.split('ale')[0]
df['sex']=df['sex'].map(f)
display(df)

     name number  sex  year  score
city
北京     张三    001  fem  2000    2.0
西安     李四    002    m  2002    2.0
长沙     王五    003    m  2001    2.0
广州     小明    004  fem  2003    2.0
上海     刘六    005  fem  2005    2.0

In [33]:
df1 = pd.DataFrame(np.random.random((3,3)),columns=list('abc'),index=['app',"win","mac"])
display(df1)
print(df1.apply(np.mean,axis=0))
print(df1.apply(np.mean,axis=1))
print(df1.applymap(lambda x: '%.3f'%x))

            a         b         c
app  0.309132  0.652746  0.639625
win  0.343511  0.025227  0.336889
mac  0.664200  0.343665  0.126505

a    0.438948
b    0.340546
c    0.367673
dtype: float64
app    0.533834
win    0.235209
mac    0.378123
dtype: float64
         a      b      c
app  0.309  0.653  0.640
win  0.344  0.025  0.337
mac  0.664  0.344  0.127

C:\Users\hxc\AppData\Local\Temp\ipykernel_13168\4101931154.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  print(df1.applymap(lambda x: '%.3f'%x))

In [37]:
ser = pd.Series([1,-2,4,-4],index=['c','b','a','d'])
print(ser)
print(ser.sort_index(ascending=True))

c    1
b   -2
a    4
d   -4
dtype: int64
a    4
b   -2
c    1
d   -4
dtype: int64

In [48]:
df = pd.DataFrame({'key1':['a','a','b','b','a'],
                   'key2':['yes','no','yes','yes','no'],
                   'data1':np.random.randn(5),
                   'data2':np.random.randn(5),})
grouped = df['data1'].groupby(df['key1'])
display(df)
print(grouped.size())
print(grouped.mean())
# groupk1 = df.groupby('key2').mean()
# groupk1

  key1 key2     data1     data2
0    a  yes -0.157981 -0.379319
1    a   no  0.092951 -1.018737
2    b  yes -0.358580 -0.616567
3    b  yes  1.194792 -2.221036
4    a   no  0.599670 -0.048922

key1
a    3
b    2
Name: data1, dtype: int64
key1
a    0.178213
b    0.418106
Name: data1, dtype: float64